<!DOCTYPE html>
<html lang="" class="reveal-full-page">

{{ $revealVersion := .Params.reveal.version | default "5.1.0" }}
{{ $revealRoot := printf "%s/%s" "https://cdnjs.cloudflare.com/ajax/libs/reveal.js" $revealVersion }}
{{ $revealTheme := printf "%s/theme/%s.css" $revealRoot (.Params.reveal.theme | default "moon") }}
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{.Title}}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ $revealRoot }}/reveal.min.css">
  <link rel="stylesheet" href="{{ $revealTheme }}">
  <script src="{{ $revealRoot }}/reveal.js"></script>

{{ $revealPluginInit := slice }}
{{range $index, $item := .Params.reveal.plugins | default slice }}
    {{if in "/" $item}}
    <script src="{{ $revealRoot }}/plugin/{$item}"></script>
    {{else}}
    <script src="{{ $revealRoot }}/plugin/{{$item}}/{{$item}}.min.js"></script>
    {{ if eq "notes" $item }}{{ $revealPluginInit = append "RevealNotes" $revealPluginInit  }}{{ end }}
    {{ if eq "markdown" $item }}{{ $revealPluginInit = append "RevealMarkdown" $revealPluginInit  }}{{ end }}
    {{end}}
{{end}}
</head>

<body>
  <div class="reveal">
    <div class="slides">
        {{.Content}}
    </div>
  </div>
  <script>
    {{- with .Params.reveal.config }}
    {{ if eq (printf "%T" .) "string" }}
      let configuration = {{ . | safeJS }};
      {{ else }}
      let configuration = {{ . | jsonify | safeJS }};
    {{ end }}
    {{ else }}
      let configuration = {};
    {{ end }}
    let currentSearchParams = (new URL(document.URL)).searchParams;
    if (currentSearchParams.has("showNotes")) {
        configuration.showNotes = true;
    }
    if (currentSearchParams.has("noShowNotes")) {
        configuration.showNotes = false;
    }
    Reveal.configure(configuration);
    {{- with .Params.reveal.init }}
    {{ if eq (printf "%T" .) "string" }}
      let init = {{ . | safeJS }};
      {{ else }}
      let init = {{ . | jsonify | safeJS }};
    {{ end }}
    {{ else }}
      let init = {};
    {{ end }}
    {{ range $index, $item := $revealPluginInit }}
    {{ if eq $index 0 }}
    init.plugins = [];
    {{ end }}
    init.plugins.push({{ $item | safeJS}});
    {{ end }}
    Reveal.initialize(init);
  </script>
</body>

</html>
