{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path }}
  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape)) -}}
{{- if .IsBlock -}}<figure class="{{ .Attributes.class }}">{{- else -}}
{{- $attributes = merge $attributes (dict "class" "in-text") -}}
{{- end -}}
<img
    {{- range $k, $v := $attributes -}}
    {{- if $v -}}
    {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
    {{- end -}}>
{{- if .IsBlock -}}{{ with .Title }}<figcaption><p>{{ . | markdownify }}</p></figcaption>{{ end }}</figure>{{- end -}}
{{- /**/ -}}
