<footer class="footer">
    <span>&copy; {{ now.Year }} <a href="https://www.graceharbor.net">Grace Harbor Church</a></span>
    <span> - </span>
    <span>
        Powered by
        <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
        <a href="https://github.com/adityatelange/hugo-PaperMod/" rel="noopener" target="_blank">PaperMod</a>
    </span>
    {{ $url := getenv "CI_PROJECT_URL" }}
    {{ $sha := getenv "CI_COMMIT_SHA" }}
    {{ $short := getenv "CI_COMMIT_SHORT_SHA" }}
    {{ with $short }}
    <span> - </span>
    <span>built from <code><a href="{{$url}}/-/commit/{{$sha}}">{{$short}}</a></code></span>
    {{ end }}
</footer>