{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{ if .GitInfo }}
{{ if not (and (compare.Ge .Date.Year .GitInfo.CommitDate.Year) (compare.Ge .Date.YearDay .GitInfo.CommitDate.YearDay)) }}
{{ with .GitInfo}}
{{- $scratch.Add "meta" (slice (printf "<span>(updated: <span title='%s'>%s</span>)</span>" (.CommitDate) (.CommitDate | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{ end }}
{{ end }}
{{ end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
